.side-bar
  .user__name
    .top__items
      .top__items__name
        makoto
      .top__items__icons
        =link_to "#", class:"icons--btn" do
          =icon('far', 'edit')
        =link_to "#", class: "icons--btn" do
          =icon('fas', 'cog')
  .groups
    .groups__group
      .groups__group__groupName
        techcamp
      .groups__group__message
        まだメッセージはありません
    .groups__group
      .groups__group__groupName
        techcamp
      .groups__group__message
        まだメッセージはありません
    .groups__group
      .groups__group__groupName
        techcamp
      .groups__group__message
        まだメッセージはありません
    